@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #eeeeee;
}

.text-shadow-default {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-shadow-md {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.text-shadow-lg {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}
